.page{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    margin: auto;
    border: 2px solid black;
    background-color: white;

}
.page1{
    background-color: white;
    height: 50%;
    width: 45%;
    margin: auto;
}
body{
    background-color: #4b5563;
}
